

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    padding: 7rem 0 0 0;
    align-items: center;
    gap: 2rem;
    /* background-color: #8B0000; */
}

.title h1 {
    margin: 3rem;
    font-size: 4.6rem;
    text-align: center;
}
.OverallHeadSection{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 12vw;
    row-gap: 6vw;
    /* background-color: #F0F8FF; */
    /* background-image: url(https://t4.ftcdn.net/jpg/06/15/06/81/360_F_615068142_3siXSo1TWv7ebrf7OR0XdHurjzkcpJE3.jpg); */
    /* background-image: url(https://img.freepik.com/free-vector/flat-soccer-football-stadium-illustration_23-2148909913.jpg); */
    /* background-image: url(https://images.pexels.com/photos/46798/the-ball-stadion-football-the-pitch-46798.jpeg?cs=srgb&dl=pexels-pixabay-46798.jpg&fm=jpg); */
    padding: 24px;
    background-size: 250%;
    /* width:100%; */
}

.HeadSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-between; */
    padding: 0 15rem;
    /* width:100%; */
}
.CoreSection{
    padding: 0 15rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* width: 100%; */
}
.semi-amber{
    background-color:rgba(12, 12, 12, 0.8);
}
.cardStyle{
    height: 34vw;
    width: 28vw;
}

@media only screen and (max-width: 900px){
    .title  h1{
        font-size: 4rem;
    }
    .OverallHeadSection{
    grid-template-columns: auto;
    row-gap: 10vh;
    }
    .HeadSection {
        padding: 0;
        /* display: flex;
        justify-content: space-between; */
    }
    .CoreSection{
        padding: 0;
    }
}

@media(max-width: 540px){
    .title  h1{
        font-size: 3rem;
    }
    .container{
        gap: 0;
        padding-bottom: 0;
    }
    .OverallHeadSection, .HeadSection{
        margin-bottom: 2rem;
    }
}

@media(max-width: 400px){
    .title h1{
        font-size: 2.5rem;
    }
}






.fn_cs_steps{
    padding-bottom: 1rem;
}

.fn_cs_steps ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	margin-left: -70px;
}
.fn_cs_steps li{
	width: 100%;
	padding-left: 70px;
	margin: 0.5rem;
}
.fn_cs_steps .item{
	height: 100%;
    width: 300px;
	padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.15);
    position: relative;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.25);
    background-color: rgba(255,255,255,.15);
}
.fn_cs_steps .item_in{
	height: 100%;
	padding: 17px 40px 17px;
	border-radius: 10px;
    background-color: rgba(255,255,255,.03);
}
.fn_cs_steps h3{
	margin-bottom: 14px;
    font-size: 1rem;
	color: #ffffff;
}
.fn_cs_steps p{
	margin: 0;
	font-size: 0.8rem;
	font-family: var(--hff);
	font-weight: 500;
	text-transform: uppercase;
}

.fn_cs_steps[data-cols="4"] li{
	width: 100%;
}
.fn_cs_steps[data-gap="60"] ul{margin-left: -60px;}
.fn_cs_steps[data-gap="60"] li{padding-left: 60px;margin-bottom: 60px;}
.fn_cs_steps.gap .item_in{padding: 47px 40px 44px 40px;}

@media(max-width: 1400px){
	.fn_cs_steps[data-cols="4"] li{width: 100%;}
}
@media(max-width: 768px){
	.fn_cs_steps[data-cols="4"] li{width: 100%;}
}
